!!!5
html
	head
		title @#{title}'s favtweet
		link(rel='stylesheet', href='/css/style.css')
	body
		.container
			block content

	block scripts
		script(src='/js/jquery.js')
		script(src='/js/site.js')
		script(src='/js/jquery.tubular.1.0.js')