/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Amatic+SC:400,700");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  background: #fff;
  color: #333;
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  text-align: center;
}
body a {
  color: #999;
  text-decoration: none;
}
body a:hover {
  color: #005b71;
}
body p {
  line-height: 1.8;
}
.container {
  margin: auto;
  max-width: 45em;
  overflow: hidden;
  padding: 1em;
}
#tweet #text {
  font-size: 350%;
}
#tweet #name {
  font-size: 200%;
  font-weight: 700;
  text-align: right;
}
#tubular-player {
  opacity: 0.05;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  filter: alpha(opacity=5);
}
footer {
  max-width: 500px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
footer a {
  color: #b8b8b8;
}
